
<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                   <h4 class="mb-0 font-size-18">Add Category</h4>
                </div>
             </div>
          </div>
          <!-- end page title -->
          <div class="row">
             <div class="col-12">
                <div class="card">
                   <div class="card-body">
                      <h4 class="card-title">Category Information</h4>
                      <!-- <p class="card-title-desc">Fill all information below</p> -->
                      <form [formGroup]="form" class="form-horizontal" action="">
                         <div class="row">
                            <div class="col-lg-12">
                               <div class="form-group">
                                  <label for="URL">URL</label>
                                  <input type="text" class="form-control" formControlName="productcategoryurl" id="productcategoryurl" >
                               </div>
                            </div>
                            <div class="col-lg-12">
                               <div class="form-group">
                                  <label for="URL">Page Name</label>
                                  <input type="text" class="form-control" formControlName="productcategoryname" id="productcategoryname">
                               </div>
                            </div>
                            <div class="col-lg-12">
                               <div class="form-group">
                                  <label for="URL">Page Description</label>
                                  <input type="text" class="form-control" formControlName="productcategorydescription" id="productcategorydescription">
                               </div>
                            </div>
                            <div class="col-lg-12">
                               <h4 class="card-title">Meta Data Information</h4>
                               <!-- <p class="card-title-desc">Fill all information below</p> -->
                            </div>
                            <div class="col-lg-6">
                               <div class="form-group">
                                  <label for="URL">Page Meta Title</label>
                                  <input type="text" class="form-control" formControlName="productcategorymetatitle" id="productcategorymetatitle">
                               </div>
                          
                               <div class="form-group">
                                  <label for="URL">Page Meta Keywords</label>
                                  <input type="text" class="form-control" formControlName="productcategorymetakeywords" id="productcategorymetakeywords" >
                               </div>
                            </div>
                            <div class="col-lg-6">
                               <div class="form-group">
                                  <label for="URL">Page Meta Description</label>
                                  <textarea class="form-control" formControlName="productcategorymetadescription" id="productcategorymetadescription" class="form-control" id="metadescription" rows="5"></textarea>
                              </div>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
             <!-- end of row -->
       </div>
    </div>
 </div>